<div class="headerdiv"><h2>Manage Dogs</h2></div>
<div class="outerdiv">
    <h3>Add a New Dog</h3>
    <div class="innerdiv">
        <form id="adddogform" action="/dogs" method="post">
            <label>Name:</label><br />
            <input type="text" id="name" name="name"> <br />

            <label>Birthdate:</label><br />
            <input type="date" id="birthdate" name="birthdate"><br />

            <label>Breed:</label><br />
            <input type="text" id="breed" name="breed" /><br />

            <label>Sex:</label><br />
            <select id="sex" name="sex">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select><br />

            <label>Food:</label><br />
            <select id="food" name="food">
                {{#each food}}
                <option value="{{id}}">{{bname}} {{pname}}</option>
                {{/each}}
            </select><br />

            <label>Image path/url:</label><br />
            <input type="text" id="image" name="image" /><br /><br />
            <input id="btnDogSubmit" type="submit" value="Submit" />
        </form>
        <br />
        
    </div>
</div>
<br />
<h3>Dogs</h3>
<table id="dogtable">
    <tr>
        <th>Picture</th>
        <th>ID</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Breed</th>
        <th>Sex</th>
        <th>Food</th>
        <th>Adopted by</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    {{#if dogs}}
    {{#each dogs}}
    <tr>
        <td><img src="{{this.image}}" /></td>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.bdate}}</td>
        <td>{{this.breed}}</td>
        <td>{{this.sex}}</td>
        <td>{{this.bname}} {{this.pname}}</td>
        <td>{{this.fname}} {{this.lname}}</td>
        <td><button onclick="deleteDog({{this.id}})">Delete</button></td>
        <td><a href="/dogs/{{this.id}}">Edit</a></td>
    </tr>
    {{/each}}
    {{/if}}
</table>
<br />
<br />
<script type="text/javascript" src="../js/addDog.js"></script>

